body{
    margin: 0;
    .container{
        #amiibo_cont{
            .row{     
                .col_height img{
                    width: 100%;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }
        }
    } 
    footer{
        width: 100%;
        background-color: #CF171F;
        padding: 10px 0px 10px 2px;
        img{
            height: 40px;
        }
    }
}
