* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

body #title {
  width: 500px;
  height: 100px;
  margin: auto;
  padding-top: 10px;
  margin-top: 20px;
  border-bottom: 5px solid darkred;
}

body #title p {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

body #search {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #search #search_cloud1 {
  width: 25%;
  height: 100%;
  position: relative;
}

body #search #search_cloud1 #c2 {
  position: absolute;
  bottom: 20%;
  left: 40%;
  z-index: 2;
  -webkit-animation-name: cloudfloat;
          animation-name: cloudfloat;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body #search #search_cloud1 #c1 {
  -webkit-animation-name: cloudfloat2;
          animation-name: cloudfloat2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes cloudfloat {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes cloudfloat {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes cloudfloat2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes cloudfloat2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes thinkfloat2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes thinkfloat2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

body #search #search_center {
  width: 50%;
  height: 100%;
  position: relative;
}

body #search #search_center #t1 {
  cursor: pointer;
}

body #search #search_center img:nth-child(8) {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body #search #search_center img:nth-child(6) {
  position: absolute;
  top: 40%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: thinkfloat2;
          animation-name: thinkfloat2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body #search #search_center img:nth-child(4) {
  position: absolute;
  top: 30%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: thinkfloat2;
          animation-name: thinkfloat2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body #search #search_center img:nth-child(2) {
  position: absolute;
  top: 20%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-name: thinkfloat2;
          animation-name: thinkfloat2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body #search #search_cloud2 {
  width: 25%;
  height: 100%;
  position: relative;
}

body #search #search_cloud2 #c3 {
  position: absolute;
  bottom: 20%;
  left: -50%;
  z-index: 2;
  -webkit-animation-name: cloudfloat2;
          animation-name: cloudfloat2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body #search #search_cloud2 #c4 {
  -webkit-animation-name: cloudfloat;
          animation-name: cloudfloat;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body #bricks {
  width: 70%;
  height: 50px;
  background-image: url("../img/support_screen/bb.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

body #sup {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #sup .sup_box {
  width: 250px;
  height: 250px;
  font-size: 24px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #427e96;
}

body #sup .sup_box img {
  cursor: pointer;
}

@media (max-width: 755px) {
  #c1 {
    margin-top: 150px !important;
  }
  #c4 {
    margin-top: 150px !important;
  }
  #c2 {
    bottom: 32% !important;
  }
  #t1 {
    -webkit-transform: scale(2) !important;
            transform: scale(2) !important;
    margin-top: 50px !important;
  }
  #title {
    width: 400px !important;
  }
  #title p {
    font-size: 32px !important;
  }
}

@media (max-width: 350px) {
  #title {
    width: 300px !important;
  }
  #title p {
    font-size: 29px !important;
  }
}
/*# sourceMappingURL=support.css.map */